alias j=jobs
alias ls='ls -F --show-control-chars --color=auto'
alias cp='cp -i'
alias rm='rm -i'
alias mv='mv -i'
alias md=mkdir
alias ll='ls -l'
alias du='du -h'
alias df='df -h -x supermount'
# alias vim='vim -display x'
alias v=vim
alias grep='grep --color --exclude="*.svn*" --exclude="*.git*" --exclude=tags --exclude "*ssbackup" --exclude "*ssprerevert" --exclude "*cscope.*"'
alias screen='screen -U'
if test -r ~/.aliases.local
then source ~/.aliases.local
fi
